@font-face { 
	font-family: GothamPro;
	src: url("../fonts/GothamProLight.eot"),
	url("../fonts/GothamProRegular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face { 
	font-family: GothamPro;
	src: url("../fonts/GothamProLight/GothamProLight.eot"),
	url("../fonts/GothamProBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}